{% extends "layouts/base.html" %}

{% block title %}
  Create release candidate ~ ATR
{% endblock title %}

{% block description %}
  Create a new release candidate.
{% endblock description %}

{% block theme_css %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/atr-small.css') }}" />
{% endblock theme_css %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <h1>Create release candidate</h1>
  <p>
    Welcome, <strong>{{ asf_id }}</strong>! Use this form to create a new release candidate for
    your project. You can create a new release candidate for any project of which you are a release
    manager. Release managers at the ASF must be either PMC members or committers.
  </p>
  <p class="mb-4">
    ATR will guide you through the process of turning your release candidate into a final release,
    providing tools and automation to help during each step of the workflow.
  </p>

  <form method="post"
        enctype="multipart/form-data"
        class="striking py-4 px-5">
    <div class="mb-3 pb-3 row border-bottom">
      <label for="project_name" class="col-sm-3 col-form-label text-sm-end">Project:</label>
      <div class="col-sm-8">
        <select id="project_name"
                name="project_name"
                class="mb-2 form-select"
                required>
          <option value="">Select a project...</option>
          {% for pmc in user_pmcs|sort(attribute='project_name') %}
            <option value="{{ pmc.project_name }}">{{ pmc.display_name }}</option>
          {% endfor %}
        </select>
        {% if not user_pmcs %}
          <p class="text-danger">You must be a PMC member or committer to submit a release candidate.</p>
        {% endif %}
      </div>
    </div>

    <div class="mb-3 pb-3 row border-bottom">
      <label for="version" class="col-sm-3 col-form-label text-sm-end">Version:</label>
      <div class="col-sm-8">
        <input type="text" id="version" name="version" class="form-control" required />
      </div>
    </div>

    <div class="mb-3 pb-3 row border-bottom">
      <label for="product_name" class="col-sm-3 col-form-label text-sm-end">Product name:</label>
      <div class="col-sm-8">
        <!-- TODO: Add a dropdown for the product name, plus "add new product" -->
        <input type="text"
               id="product_name"
               name="product_name"
               class="form-control"
               required />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9 offset-sm-3">
        <button type="submit"
                class="btn btn-primary mt-2"
                {% if not user_pmcs %}disabled{% endif %}>Create release</button>
      </div>
    </div>
  </form>
{% endblock content %}
