{% extends "layouts/base.html" %}

{% block title %}
  Candidate drafts ~ ATR
{% endblock title %}

{% block description %}
  Create and modify candidate drafts using rsync.
{% endblock description %}

{% block content %}
  <h1>Candidate drafts</h1>
  <p class="intro">
    A <strong>candidate draft</strong> is an editable set of files which can be <strong>frozen and promoted into a candidate release</strong> for voting on by the project's committee.
  </p>
  <ul>
    <li>You can only create a new candidate draft if you are a member of the project's committee</li>
    <li>Projects can work on multiple candidate drafts for different versions simultaneously</li>
    <li>A candidate draft is only editable until submitted for voting</li>
  </ul>

  <h2>Modify existing draft</h2>
  <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
    {% for release in candidate_drafts %}
      <div class="col" id="{{ release.name }}">
        <div class="card h-100">
          <div class="card-body position-relative">
            <div class="position-absolute top-0 end-0 m-2">
              <span class="badge bg-success">Draft</span>
            </div>
            <h5 class="card-title">{{ release.project.display_name }} {{ release.version }}</h5>
            {% if release.project.committee %}
              <h6 class="card-subtitle mb-2 text-muted">{{ release.project.committee.display_name }}</h6>
            {% endif %}
            <p class="card-text">
              {% if number_of_release_files(release) > 0 %}
                This candidate draft has <a href="{{ url_for('root_candidate_draft_list', project_name=release.project.name, version_name=release.version) }}">{{ number_of_release_files(release) }} file(s)</a>.
              {% else %}
                This candidate draft doesn't have any files yet.
              {% endif %}
              <a href="{{ url_for('root_candidate_draft_add_project', project_name=release.project.name, version_name=release.version) }}">Upload a file using the browser</a>,
              or use the command below to add or modify files in this draft:
            </p>
          </div>
          <div class="card-footer bg-light border-1 pt-4 pb-4 position-relative">
            <button class="btn btn-sm btn-outline-secondary atr-copy-btn fs-6 position-absolute top-0 end-0 m-2"
                    data-clipboard-target="#cmd-{{ release.name|replace('.', '-') }}">
              <i class="bi bi-clipboard"></i> Copy
            </button>
            <pre class="small mb-0" id="cmd-{{ release.name|replace('.', '-') }}">rsync -av -e 'ssh -p 2222' your/files/ \
    {{ asf_id }}@{{ server_domain }}:/{{ release.project.name }}/{{ release.version }}/</pre>
          </div>
        </div>
      </div>
    {% endfor %}
    {% if candidate_drafts|length == 0 %}
      <div class="col-12">
        <div class="alert alert-info">There are currently no candidate drafts.</div>
      </div>
    {% endif %}
  </div>

  <h2>Create draft from project</h2>
  <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
    {% for project in projects %}
      {% set candidate_drafts = project.candidate_drafts %}

      {# Show card for creating a new release if allowed #}
      {% if asf_id in project.committee.committee_members %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body position-relative">
              <div class="position-absolute top-0 end-0 m-2">
                <span class="badge bg-primary">Potential</span>
              </div>
              <h5 class="card-title">{{ project.display_name }}</h5>
              {% if project.committee %}
                <h6 class="card-subtitle mb-2 text-muted">{{ project.committee.display_name }}</h6>
              {% endif %}
              <p class="card-text">
                {% if candidate_drafts|length > 0 %}
                  This project already has candidate drafts
                  {% for release in candidate_drafts %}
                    <code><a href="#{{ release.name }}" class="border rounded px-2">{{ release.version }}</a></code>,
                  {% endfor %}
                  but to create another one, use the command below.
                {% else %}
                  This project does not have a candidate draft.
                  To create one and add files, use the command below.
                {% endif %}
              </p>
            </div>
            <div class="card-footer bg-light border-1 pt-4 pb-4 position-relative">
              <button class="btn btn-sm btn-outline-secondary atr-copy-btn fs-6 position-absolute top-0 end-0 m-2"
                      data-clipboard-target="#cmd-newdraft-{{ project.name|replace('.', '-') }}">
                <i class="bi bi-clipboard"></i> Copy
              </button>
              <pre class="small mb-0" id="cmd-newdraft-{{ project.name|replace('.', '-') }}">rsync -av -e 'ssh -p 2222' your/files/ \
    {{ asf_id }}@{{ server_domain }}:/{{ project.name }}/VERSION/</pre>
            </div>
          </div>
        </div>
      {% else %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body position-relative">
              <div class="position-absolute top-0 end-0 m-2">
                <span class="badge bg-secondary">Ask</span>
              </div>
              <h5 class="card-title">{{ project.display_name }}</h5>
              {% if project.committee %}
                <h6 class="card-subtitle mb-2 text-muted">{{ project.committee.display_name }}</h6>
              {% endif %}
              <p class="card-text">
                {% if candidate_drafts|length > 0 %}
                  This project already has candidate drafts
                  {% for release in candidate_drafts %}
                    <code><a href="#{{ release.name }}" class="border rounded px-2">{{ release.version }}</a></code>,
                  {% endfor %}
                  but to create another one, use the command below.
                {% else %}
                  This project does not have a candidate draft.
                  To create one, you must be a member of the project's committee.
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <script>
      document.addEventListener("DOMContentLoaded", function() {
          const copyButtons = document.querySelectorAll(".atr-copy-btn");

          copyButtons.forEach(button => {
              button.addEventListener("click", function() {
                  const targetId = this.getAttribute("data-clipboard-target");
                  const targetElement = document.querySelector(targetId);

                  if (targetElement) {
                      const textToCopy = targetElement.textContent;

                      navigator.clipboard.writeText(textToCopy)
                          .then(() => {
                              const originalText = this.innerHTML;
                              this.innerHTML = '<i class="bi bi-check2"></i> Copied!';

                              // Reset the button text after 2000ms
                              setTimeout(() => {
                                  this.innerHTML = originalText;
                              }, 2000);
                          })
                          .catch(err => {
                              console.error("Failed to copy: ", err);
                              this.innerHTML = '<i class="bi bi-exclamation-triangle"></i> Failed!';

                              setTimeout(() => {
                                  this.innerHTML = '<i class="bi bi-clipboard"></i> Copy';
                              }, 2000);
                          });
                  }
              });
          });
      });
  </script>
{% endblock javascripts %}
