{% if not release.vote_manual %}
  {% include "check-selected-vote-email.html" %}

{% endif %}

{% if can_vote and form %}
  <h2>Cast your vote</h2>

  <form method="post"
        action="{{ as_url(post.vote.selected_post, project_name=project_name, version_name=version_name) }}"
        class="atr-canary py-4 px-5 mb-4 border rounded">
    {{ form.hidden_tag() }}

    <div class="row mb-3 pb-3 border-bottom">
      {{ forms.label(form.vote_value, col="md3") }}
      <div class="col-md-9">
        <div class="btn-group" role="group" aria-label="Vote options">
          {% for subfield in form.vote_value %}
            {% set btn_class = "btn-outline-secondary" %}
            {% if subfield.data == "+1" %}
              {% set btn_class = "btn-outline-success" %}
            {% endif %}
            {% if subfield.data == "-1" %}
              {% set btn_class = "btn-outline-danger" %}
            {% endif %}
            {{ forms.widget(subfield, classes="btn-check", autocomplete="off") }}
            {{ forms.label(subfield, classes="btn " + btn_class) }}
          {% endfor %}
        </div>
        {{ forms.errors(form.vote_value, classes="text-danger small mt-1") }}
      </div>
    </div>
    <div class="row mb-3">
      {{ forms.label(form.vote_comment, col="md3") }}
      <div class="col-md-9">
        {{ forms.widget(form.vote_comment, rows="3") }}
        {{ forms.errors(form.vote_comment, classes="text-danger small mt-1") }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 offset-md-3">{{ form.submit(class_="btn btn-primary") }}</div>
    </div>
  </form>
{% endif %}
