{% extends "layouts/base.html" %}

{% block title %}
  Add file(s) to {{ project_name }} {{ version_name }} ~ ATR
{% endblock title %}

{% block description %}
  Add file(s) to a release candidate.
{% endblock description %}

{% block content %}
  <a href="{{ as_url(routes.draft.add) }}" class="back-link">← Back to add draft</a>

  <h1>Add file(s) to {{ project_name }} {{ version_name }}</h1>
  <p class="intro">Use this form to add a single file to this candidate draft.</p>

  <form method="post"
        enctype="multipart/form-data"
        class="striking py-4 px-5 needs-validation"
        novalidate>
    {{ form.csrf_token }}
    <div class="mb-3 pb-3 row border-bottom">
      <label for="{{ form.file_name.id }}"
             class="col-sm-3 col-form-label text-sm-end">{{ form.file_name.label.text }}:</label>
      <div class="col-sm-8">
        {{ form.file_name(class_="form-control" + (" is-invalid" if form.file_name.errors else "") ) }}
        <span id="file_path-help" class="form-text text-muted">Enter the path where the file should be saved in the release candidate</span>
        {% if form.file_name.errors %}
          {% for error in form.file_name.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="mb-3 pb-3 row border-bottom">
      <label for="{{ form.file_data.id }}"
             class="col-sm-3 col-form-label text-sm-end">{{ form.file_data.label.text }}:</label>
      <div class="col-sm-8">
        {{ form.file_data(class_="form-control" + (" is-invalid" if form.file_data.errors else "") ) }}
        <span id="file_data-help" class="form-text text-muted">Select the file(s) to upload</span>
        {% if form.file_data.errors %}
          {% for error in form.file_data.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9 offset-sm-3">{{ form.submit(class_="btn btn-primary mt-3") }}</div>
    </div>
  </form>
{% endblock content %}
