{% extends "layouts/base.html" %}

{% block title %}
  Candidate draft directory ~ ATR
{% endblock title %}

{% block description %}
  Review and modify candidate drafts.
{% endblock description %}

{% import 'macros/dialog.html' as dialog %}

{% block content %}
  <h1>Candidate drafts</h1>
  <p>
    A <strong>candidate draft</strong> is an editable set of files which can be <em>frozen and promoted into a candidate release</em> for voting on by the PMC.
  </p>
  <ul>
    <li>You can only create a new candidate draft if you are a member of the PMC</li>
    <li>Projects can work on multiple candidate drafts for different versions simultaneously</li>
    <li>A candidate draft is only editable until submitted for voting</li>
  </ul>

  <div class="row row-cols-1 g-4 mb-5">
    {% for release in candidate_drafts %}
      {% set release_id = release.name %}
      <div class="col" id="{{ release.name }}">
        <div class="card h-100">
          <div class="card-body position-relative">
            <div class="position-absolute top-0 end-0 m-2">
              <span class="badge bg-success">Draft</span>
            </div>
            <h5 class="card-title">{{ release.project.display_name }} {{ release.version }}</h5>
            {% if release.project.committee %}
              <h6 class="card-subtitle mb-2 text-muted">{{ release.project.committee.display_name }}</h6>
            {% endif %}
            <div class="d-flex gap-2 mb-2">
              <a href="{{ as_url(routes.draft.evaluate, project_name=release.project.name, version_name=release.version) }}"
                 title="Checks for {{ release.project.display_name }} {{ release.version }}"
                 class="btn btn-sm btn-outline-secondary">Checks</a>
              <a href="{{ as_url(routes.draft.view, project_name=release.project.name, version_name=release.version) }}"
                 title="Files for {{ release.project.display_name }} {{ release.version }}"
                 class="btn btn-sm btn-outline-secondary">Files</a>
              <a href="{{ as_url(routes.draft.revisions, project_name=release.project.name, version_name=release.version) }}"
                 title="Revisions for {{ release.project.display_name }} {{ release.version }}"
                 class="btn btn-sm btn-outline-secondary">Revisions</a>
              <a href="{{ as_url(routes.projects.view, name=release.project.name) }}"
                 title="Project for {{ release.project.display_name }} {{ release.version }}"
                 class="btn btn-sm btn-outline-secondary">Project</a>
              <br />
              <a href="{{ as_url(routes.draft.add_files, project_name=release.project.name, version_name=release.version) }}"
                 title="Add files to {{ release.project.display_name }} {{ release.version }}"
                 class="btn btn-sm btn-outline-primary">Add files</a>
              <a href="{{ as_url(routes.draft.vote_start, project_name=release.project.name, version=release.version, revision=release.revision) }}"
                 title="Start vote for {{ release.project.display_name }} {{ release.version }}"
                 class="btn btn-sm btn-outline-success">Start vote</a>
              <button class="btn btn-sm btn-outline-danger"
                      title="Delete {{ release.project.display_name }} {{ release.version }}"
                      data-bs-toggle="modal"
                      data-bs-target="#delete-{{ release_id }}">Delete</button>
            </div>
            <p class="card-text mt-3">
              {% if number_of_release_files(release) > 0 %}
                This candidate draft has {{ number_of_release_files(release) }}
                {% if number_of_release_files(release) == 1 %}
                  file.
                {% else %}
                  files.
                {% endif %}
              {% else %}
                This candidate draft doesn't have any files yet.
              {% endif %}
              Use the command below to add or modify files in this draft:
            </p>
          </div>
          <div class="card-footer bg-light border-1 pt-4 pb-4 position-relative">
            <button class="btn btn-sm btn-outline-secondary atr-copy-btn fs-6 position-absolute top-0 end-0 m-2"
                    data-clipboard-target="#cmd-{{ release.name|slugify }}">
              <i class="fas fa-clipboard"></i> Copy
            </button>
            <pre class="small mb-0" id="cmd-{{ release.name|slugify }}">rsync -av -e 'ssh -p 2222' ${YOUR_FILES}/ {{ asf_id }}@{{ server_domain }}:/{{ release.project.name }}/{{ release.version }}/</pre>
          </div>
        </div>
      </div>
      {{ dialog.delete_modal_with_confirm(release_id, "Delete candidate draft", "candidate draft", as_url(routes.draft.delete) , delete_form, "candidate_draft_name") }}
    {% endfor %}
    {% if candidate_drafts|length == 0 %}
      <div class="col-12">
        <div class="alert alert-info">There are currently no candidate drafts.</div>
      </div>
    {% endif %}
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <script>
      init();
  </script>
{% endblock javascripts %}
