{% extends "layouts/base.html" %}

{% block title %}
  Release candidate drafts ~ ATR
{% endblock title %}

{% block description %}
  Active release candidate drafts.
{% endblock description %}

{% block content %}
  <h1>Release candidate draft directory</h1>
  <p class="intro">
    A <strong>candidate draft</strong> is an editable set of files which can be <strong>frozen and promoted into a candidate release</strong> for voting on by the project's committee.
  </p>
  <ul>
    <li>You can only create a new candidate draft if you are a member of the project's committee</li>
    <li>Projects can work on multiple candidate drafts for different versions simultaneously</li>
    <li>A candidate draft is only editable until submitted for voting</li>
  </ul>

  <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
    {% for release in candidate_drafts %}
      {% set release_id = release.name.replace('.', '_') %}
      <div class="col" id="{{ release.name }}">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title">
              {{ release.project.display_name }} {{ release.version }}&nbsp;
              <span class="badge bg-success align-top">Draft</span>
            </h5>
            {% if release.project.committee %}
              <h6 class="card-subtitle mb-2 text-muted">{{ release.project.committee.display_name }}</h6>
            {% endif %}
            <div class="position-absolute top-0 end-0 m-2">
              <button class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#promote-{{ release_id }}">
                <i class="fa-solid fa-upload"></i>
              </button>
              <button class="btn btn-danger"
                      data-bs-toggle="modal"
                      data-bs-target="#delete-{{ release_id }}">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>

            <div class="modal modal-lg fade"
                 id="promote-{{ release_id }}"
                 data-bs-backdrop="static"
                 data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="promote-{{ release_id }}-label"
                 aria-hidden="true">
              <div class="modal-dialog border-primary">
                <div class="modal-content">
                  <div class="modal-header bg-primary bg-opacity-10 text-primary">
                    <h1 class="modal-title fs-5" id="promote-{{ release_id }}-label">Promote candidate draft to candidate</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p class="text-muted mb-3">Promoting will freeze this candidate draft into a candidate that can be voted on.</p>
                    <form method="post" action="{{ as_url(routes.draft.promote) }}">
                      {{ promote_form.hidden_tag() }}
                      <input type="hidden" name="candidate_draft_name" value="{{ release.name }}" />
                      <div class="mb-3">
                        <div class="form-check">
                          <input class="form-check-input"
                                 id="confirm_promote_{{ release_id }}"
                                 name="confirm_promote"
                                 required=""
                                 type="checkbox"
                                 value="y"
                                 onchange="updateButton(this, 'promote-button-{{ release_id }}')" />
                          <label class="form-check-label" for="confirm_promote_{{ release_id }}">
                            I understand this will freeze the candidate draft into a candidate
                          </label>
                        </div>
                      </div>
                      <button type="submit"
                              id="promote-button-{{ release_id }}"
                              disabled
                              class="btn btn-primary">Promote to candidate</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal modal-lg fade"
                 id="delete-{{ release_id }}"
                 data-bs-backdrop="static"
                 data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="promote-{{ release_id }}-label"
                 aria-hidden="true">
              <div class="modal-dialog border-primary">
                <div class="modal-content">
                  <div class="modal-header bg-danger bg-opacity-10 text-danger">
                    <h1 class="modal-title fs-5" id="delete-{{ release_id }}-label">Delete candidate draft</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p class="text-muted mb-3">Warning: This action will permanently delete this candidate draft and cannot be undone.</p>
                    <form method="post" action="{{ as_url(routes.draft.delete) }}">
                      {{ delete_form.hidden_tag() }}
                      <input type="hidden" name="candidate_draft_name" value="{{ release.name }}" />
                      <div class="mb-3">
                        <label for="confirm_delete_{{ release_id }}" class="form-label">
                          Type <strong>DELETE</strong> to confirm:
                        </label>
                        <input class="form-control mt-2"
                               id="confirm_delete_{{ release_id }}"
                               name="confirm_delete"
                               placeholder="DELETE"
                               required=""
                               type="text"
                               value=""
                               onkeyup="updateDeleteButton(this, 'delete-button-{{ release_id }}')" />
                      </div>
                      <button type="submit"
                              id="delete-button-{{ release_id }}"
                              disabled
                              class="btn btn-danger">Delete candidate draft</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="card-body position-relative">
            <p class="card-text">
              {% if number_of_release_files(release) > 0 %}
                This candidate draft has <a href="{{ as_url(routes.draft.files, project_name=release.project.name, version_name=release.version) }}">{{ number_of_release_files(release) }} file(s)</a>.
              {% else %}
                This candidate draft doesn't have any files yet.
              {% endif %}
              <a href="{{ as_url(routes.draft.add_project, project_name=release.project.name, version_name=release.version) }}">Upload a file using the browser</a>,
              or use the command below to add or modify files in this draft:
            </p>
          </div>
          <div class="card-footer bg-light border-1 pt-4 pb-4 position-relative">
            <button class="btn btn-sm btn-outline-secondary atr-copy-btn fs-6 position-absolute top-0 end-0 m-2"
                    data-clipboard-target="#cmd-{{ release.name|replace('.', '-') }}">
              <i class="bi bi-clipboard"></i> Copy
            </button>
            <pre class="small mb-0" id="cmd-{{ release.name|replace('.', '-') }}">rsync -av -e 'ssh -p 2222' your/files/ \
    {{ asf_id }}@{{ server_domain }}:/{{ release.project.name }}/{{ release.version }}/</pre>
          </div>
        </div>
      </div>
    {% endfor %}
    {% if candidate_drafts|length == 0 %}
      <div class="col-12">
        <div class="alert alert-info">There are currently no candidate drafts.</div>
      </div>
    {% endif %}
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <script>
      document.addEventListener("DOMContentLoaded", function() {
          const copyButtons = document.querySelectorAll(".atr-copy-btn");

          copyButtons.forEach(button => {
              button.addEventListener("click", function() {
                  const targetId = this.getAttribute("data-clipboard-target");
                  const targetElement = document.querySelector(targetId);

                  if (targetElement) {
                      const textToCopy = targetElement.textContent;

                      navigator.clipboard.writeText(textToCopy)
                          .then(() => {
                              const originalText = this.innerHTML;
                              this.innerHTML = '<i class="bi bi-check2"></i> Copied!';

                              // Reset the button text after 2000ms
                              setTimeout(() => {
                                  this.innerHTML = originalText;
                              }, 2000);
                          })
                          .catch(err => {
                              console.error("Failed to copy: ", err);
                              this.innerHTML = '<i class="bi bi-exclamation-triangle"></i> Failed!';

                              setTimeout(() => {
                                  this.innerHTML = '<i class="bi bi-clipboard"></i> Copy';
                              }, 2000);
                          });
                  }
              });
          });
      });

      function updateButton(checkboxElement, buttonId) {
          let button = document.getElementById(buttonId);
          button.disabled = !checkboxElement.checked;
      }

      function updateDeleteButton(inputElement, buttonId) {
          let button = document.getElementById(buttonId);
          button.disabled = inputElement.value !== "DELETE";
      }
  </script>
{% endblock javascripts %}
