{% extends "layouts/base.html" %}

{% block title %}
  Review {{ project_name }} {{ version_name }} ~ ATR
{% endblock title %}

{% block description %}
  Review the files for the {{ project_name }} {{ version_name }} candidate draft.
{% endblock description %}

{% import 'macros/dialog.html' as dialog %}

{% block content %}
  <h1>Review of {{ release.project.display_name }} {{ version_name }}</h1>
  <p class="intro">
    This page shows the files for the {{ project_name }} {{ version_name }} <strong>candidate draft</strong>.
  </p>

  <div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Release information</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p>
            <strong>Project:</strong> {{ release.project.display_name }}
          </p>
          <p>
            <strong>Version:</strong> {{ version_name }}
          </p>
          <p>
            <strong>Label:</strong> {{ release.name }}
          </p>
        </div>
        <div class="col-md-6">
          <p>
            <strong>Stage:</strong> <span class="badge bg-{% if release.stage == 'CURRENT' %}success{% elif release.stage == 'CANDIDATE' %}warning{% elif release.stage == 'BUILD' %}info{% else %}secondary{% endif %}">{{ release.stage.value.upper() }}</span>
          </p>
          <p>
            <strong>Phase:</strong> <span class="badge bg-info">{{ release.phase.value.upper() }}</span>
          </p>
          <p>
            <strong>Created:</strong> {{ release.created.strftime("%Y-%m-%d %H:%M") }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Files</h5>
    </div>
    <div class="card-body">
      {% if paths|length > 0 %}
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>File path</th>
                <th>Checks status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for path in paths %}
                <tr>
                  <td>
                    {% if path in artifacts %}
                      <strong>{{ path }}</strong>
                    {% elif path in metadata %}
                      <em>{{ path }}</em>
                    {% else %}
                      {{ path }}
                    {% endif %}
                  </td>
                  <td>
                    <!-- TODO: Show number of tasks which are currently running -->
                    {% if successes[path] or warnings[path] or errors[path] %}
                      <div class="d-flex flex-wrap gap-2 mt-1 mb-2">
                        {% if successes[path]|length > 0 %}
                          <span class="badge bg-success">{{ successes[path]|length }} Passed</span>
                        {% endif %}
                        {% if warnings[path]|length > 0 %}
                          <span class="badge bg-warning">{{ warnings[path]|length }} {{ "Warning" if warnings[path]|length == 1 else "Warnings" }}</span>
                        {% endif %}
                        {% if errors[path]|length > 0 %}
                          <span class="badge bg-danger">{{ errors[path]|length }} {{ "Issue" if errors[path]|length == 1 else "Issues" }}</span>
                        {% endif %}
                      </div>
                    {% endif %}
                  </td>
                  <td class="atr-sans">
                    <a href="{{ as_url(routes.download.phase, phase='candidate-draft', project=release.project.name, version=release.version, path=path) }}"
                       class="btn btn-sm btn-outline-primary fs-6">Download</a>
                    <a href="{{ as_url(routes.draft.tools, project_name=project_name, version_name=version_name, file_path=path) }}"
                       class="btn btn-sm btn-outline-primary fs-6 small ms-2">Tools</a>
                    <a href="{{ as_url(routes.draft.review_path, project_name=project_name, version_name=version_name, file_path=path) }}"
                       class="btn btn-sm btn-outline-primary fs-6 small ms-2">Review file</a>
                    <button class="btn btn-sm btn-outline-danger ms-2"
                            data-bs-toggle="modal"
                            data-bs-target="#delete-{{ path|slugify }}">Delete file</button>
                  </td>
                </tr>
                {% set file_id = path|string %}
                {{ dialog.delete_modal(file_id, "Delete file", "file, and any associated metadata files,", as_url(routes.draft.delete_file, project_name=project_name, version_name=version_name) , delete_file_form, "file_path") }}
              {% endfor %}
            </tbody>
          </table>
        </div>

        <details>
          <summary>Debugging information</summary>
          <div class="table-responsive mt-4">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>File path</th>
                  <th>Template</th>
                  <th>Substitutions</th>
                </tr>
              </thead>
              <tbody>
                {% for path in paths %}
                  <tr>
                    <td>
                      {% if path in artifacts %}
                        <strong><a href="{{ as_url(routes.download.phase, phase='candidate-draft', project=release.project.name, version=release.version, path=path) }}">{{ path }}</a></strong>
                      {% elif path in metadata %}
                        <em><a href="{{ as_url(routes.download.phase, phase='candidate-draft', project=release.project.name, version=release.version, path=path) }}">{{ path }}</a></em>
                      {% else %}
                        <a href="{{ as_url(routes.download.phase, phase='candidate-draft', project=release.project.name, version=release.version, path=path) }}">{{ path }}</a>
                      {% endif %}
                    </td>
                    <td>{{ templates[path] }}</td>
                    <td>{{ substitutions[path] }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </details>
      {% else %}
        <div class="alert alert-info">
          This release does not have any files yet. You can add files using rsync from the <a href="{{ as_url(routes.draft.directory) }}">review drafts</a> page.
        </div>
      {% endif %}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h5 class="mb-0">Add or modify files</h5>
    </div>
    <div class="card-body">
      <p>
        <a href="{{ as_url(routes.draft.add_file, project_name=release.project.name, version_name=release.version) }}">Upload a file in the browser</a>, or use the command below to add or modify files in this release using rsync:
      </p>
    </div>
    <div class="card-footer bg-light border-1 pt-4 pb-4 position-relative">
      <button class="btn btn-sm btn-outline-secondary atr-copy-btn fs-6 position-absolute top-0 end-0 m-2"
              data-clipboard-target="#cmd-newdraft-{{ release.project.name|slugify }}">
        <i class="bi bi-clipboard"></i> Copy
      </button>
      <pre class="small mb-0" id="cmd-newdraft-{{ release.project.name|slugify }}">
rsync -av -e 'ssh -p 2222' your/files/ \
    {{ asf_id }}@{{ server_domain }}:/{{ project_name }}/{{ version_name }}/
      </pre>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <script>
      init();
  </script>
{% endblock javascripts %}
