{% extends "layouts/base.html" %}

{% block title %}
  Add files ~ ATR
{% endblock title %}

{% block description %}
  Add files to editable ongoing releases using rsync.
{% endblock description %}

{% block content %}
  <h1>Add files</h1>
  <p class="intro">
    Welcome, <strong>{{ asf_id }}</strong>! This page allows you to manage files for editable ongoing releases across your projects using rsync.
    <ul>
      <li>Projects can have multiple ongoing releases simultaneously</li>
      <li>
        An ongoing release is only editable during specific phases of its lifecycle, and frozen otherwise:
        <ul class="mb-0">
          <li>Candidate releases are editable until submitted for voting</li>
          <li>Approved releases are editable until they've been officially announced</li>
        </ul>
      </li>
      <li>You can only create a new release if you are a member of the project's committee</li>
    </ul>
  </p>

  <h2>Editable ongoing releases</h2>
  <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
    {% for release in editable_releases %}
      <div class="col" id="{{ release.name }}">
        <div class="card h-100">
          <div class="card-body position-relative">
            <div class="position-absolute top-0 end-0 m-2">
              <span class="badge bg-success">Ongoing</span>
            </div>
            <h5 class="card-title">{{ release.project.display_name }} {{ release.version }}</h5>
            {% if release.project.committee %}
              <h6 class="card-subtitle mb-2 text-muted">{{ release.project.committee.display_name }}</h6>
            {% endif %}
            <p class="card-text">
              {% if number_of_release_files(release) > 0 %}
                This editable ongoing release has <a href="{{ url_for('root_files_list', project_name=release.project.name, version_name=release.version) }}">{{ number_of_release_files(release) }} file(s)</a>.
              {% else %}
                This editable ongoing release doesn't have any files yet.
              {% endif %}
              Use the command below to add or modify files in this release:
            </p>
          </div>
          <pre class="card-footer bg-light border-1 pt-4 small">
rsync -av -e 'ssh -p 2222' your/files/ \
    {{ asf_id }}@{{ server_domain }}:/{{ release.project.name }}/{{ release.version }}/
            </pre>
        </div>
      </div>
    {% endfor %}
    {% if editable_releases|length == 0 %}
      <div class="col-12">
        <div class="alert alert-info">There are currently no editable ongoing releases.</div>
      </div>
    {% endif %}
  </div>

  <h2>Projects</h2>
  <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
    {% for project in projects %}
      {% set editable_releases = project.editable_releases %}

      {# Show card for creating a new release if allowed #}
      {% if asf_id in project.committee.committee_members %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body position-relative">
              <div class="position-absolute top-0 end-0 m-2">
                <span class="badge bg-primary">Potential</span>
              </div>
              <h5 class="card-title">{{ project.display_name }}</h5>
              {% if project.committee %}
                <h6 class="card-subtitle mb-2 text-muted">{{ project.committee.display_name }}</h6>
              {% endif %}
              <p class="card-text">
                {% if editable_releases|length > 0 %}
                  This project already has the ongoing releases
                  {% for release in editable_releases %}
                    <code><a href="#{{ release.name }}" class="border rounded px-2">{{ release.version }}</a></code>,
                  {% endfor %}
                  but to create another one, use the command below.
                {% else %}
                  This project does not have an editable ongoing release.
                  To create one and add files, use the command below.
                {% endif %}
              </p>
            </div>
            <pre class="card-footer bg-light border-1 pt-4 small">
rsync -av -e 'ssh -p 2222' your/files/ \
    {{ asf_id }}@{{ server_domain }}:/{{ project.name }}/VERSION/
            </pre>
          </div>
        </div>
      {% else %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body position-relative">
              <div class="position-absolute top-0 end-0 m-2">
                <span class="badge bg-secondary">Ask</span>
              </div>
              <h5 class="card-title">{{ project.display_name }}</h5>
              {% if project.committee %}
                <h6 class="card-subtitle mb-2 text-muted">{{ project.committee.display_name }}</h6>
              {% endif %}
              <p class="card-text">
                {% if editable_releases|length > 0 %}
                  This project already has the ongoing releases
                  {% for release in editable_releases %}
                    <code><a href="#{{ release.name }}" class="border rounded px-2">{{ release.version }}</a></code>,
                  {% endfor %}
                  but to create another one, use the command below.
                {% else %}
                  This project does not have an editable ongoing release.
                  To create one, you must be a member of the project's committee.
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}
