{% extends "layouts/base.html" %}

{% block title %}
  Add your SSH key ~ ATR
{% endblock title %}

{% block description %}
  Add your SSH public key to your account.
{% endblock description %}

{% block content %}
  <p>
    <a href="{{ as_url(routes.keys.keys) }}" class="atr-back-link">← Back to Manage keys</a>
  </p>

  <h1>Add your SSH key</h1>
  <p>Add your SSH public key to use for rsync authentication.</p>

  <div>
    <p>
      Welcome, <strong>{{ asf_id }}</strong>! You are authenticated as an ASF committer.
    </p>
  </div>

  {{ forms.errors_summary(form) }}

  <form method="post" class="atr-canary py-4 px-5" novalidate>
    {{ form.hidden_tag() }}

    <div class="mb-4">
      {{ forms.label(form.key) }}
      {{ forms.widget(form.key, classes="form-control mb-2", rows=4, id=form.key.id) }}
      {{ forms.errors(form.key, classes="invalid-feedback d-block") }}
      {{ forms.description(form.key) }}
    </div>

    {{ form.submit(class_="btn btn-primary") }}
  </form>
{% endblock content %}
