{% extends "layouts/base.html" %}

{% block title %}
  Release previews ~ ATR
{% endblock title %}

{% block description %}
  Review release previews for projects where you are a member or committer.
{% endblock description %}

{% block stylesheets %}
  {{ super() }}
  <style>
      .preview-meta-item::after {
          content: "•";
          margin-left: 1rem;
          color: #ccc;
      }

      .preview-meta-item:last-child::after {
          content: none;
      }
  </style>
{% endblock stylesheets %}

{% block content %}
  <h1>Release previews</h1>

  <p>Here are all the release previews to which you have access.</p>

  {% if previews %}
    {% for preview in previews %}
      <div class="card mb-3 bg-light">
        <div class="card-body">
          <h3 class="card-title mb-2">{{ preview.project.display_name }} {{ preview.version }}</h3>
          <div class="d-flex flex-wrap gap-3 pb-3 mb-2 border-bottom preview-meta text-secondary fs-6">
            <span class="preview-meta-item">Revision: {{ preview.revision }}</span>
            <span class="preview-meta-item">Stage: {{ preview.stage.value.upper() }}</span>
            <span class="preview-meta-item">Phase: {{ preview.phase.value.upper() }}</span>
            <span class="preview-meta-item">Created: {{ preview.created.strftime("%Y-%m-%d %H:%M:%S UTC") }}</span>
          </div>
          <div class="d-flex gap-3 align-items-center pt-2">
            <a class="btn btn-primary"
               title="Announce {{ preview.project.display_name }} {{ preview.version }}"
               href="{{ as_url(routes.preview.announce) }}#{{ preview.project.name }}-{{ preview.version }}">Announce</a>
            <a class="btn btn-outline-primary"
               title="View files for {{ preview.project.display_name }} {{ preview.version }}"
               href="{{ as_url(routes.preview.view, project_name=preview.project.name, version_name=preview.version) }}">View files</a>
          </div>
          <!--
          <div class="d-flex gap-3 align-items-center pt-2">
            <a class="btn btn-primary" href="[[ as_url{routes.preview.review_detail, preview_id=preview.id} ]]">Review preview</a>
          </div>
          -->
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p class="text-secondary fst-italic">There are no release previews available for your projects.</p>
  {% endif %}
{% endblock content %}
