{% extends "layouts/base.html" %}

{% block title %}
  Add a new project ~ ATR
{% endblock title %}

{% block description %}
  Add a new project based on an existing one.
{% endblock description %}

{% block content %}
  <h1>
    Add a new <strong>{{ committee_name }}</strong> project
  </h1>
  {{ forms.errors_summary(form) }}

  <form method="post" class="atr-canary py-4" novalidate>
    {{ form.hidden_tag() }}

    <div class="mb-3 pb-3 row border-bottom">
      {{ forms.label(form.display_name, col="sm3") }}
      <div class="col-sm-8">
        {{ forms.widget(form.display_name, id=form.display_name.id) }}
        {{ forms.errors(form.display_name, classes="text-danger small") }}
        {{ forms.description(form.display_name, classes="text-muted mt-1") }}
        <p id="capitalisation-warning" class="text-danger small mt-1 d-none">
          <i class="bi bi-exclamation-triangle"></i>
          Warning: Ensure all words in the derived name start with a capital for proper display.
        </p>
      </div>
    </div>

    <div class="mb-3 pb-3 row border-bottom">
      {{ forms.label(form.label, col="sm3") }}
      <div class="col-sm-8">
        {{ forms.widget(form.label, id=form.label.id) }}
        {{ forms.errors(form.label, classes="text-danger small") }}
        {{ forms.description(form.label, classes="text-muted mt-1") }}
        <p id="capitalisation-warning" class="text-danger small mt-1 d-none">
          <i class="bi bi-exclamation-triangle"></i>
          Warning: Ensure all words in the derived name start with a capital for proper display.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9 offset-sm-3">{{ form.submit(class_="btn btn-primary mt-3") }}</div>
    </div>
  </form>
{% endblock content %}
