<form method="post"
      enctype="multipart/form-data"
      class="atr-canary py-4 px-5"
      novalidate>
  {{ form.hidden_tag() }}

  <input type="hidden" name="form_type" value="single" />
  <div class="mb-3 pb-3 row border-bottom">
    <label for="project_name_text" class="col-sm-3 col-form-label text-sm-end">Project</label>
    <div class="col-sm-8">
      <p id="project_name_text" class="form-control-plaintext">{{ project.display_name }}</p>
    </div>
  </div>

  <div class="mb-3 pb-3 row border-bottom">
    {{ forms.label(form.mailto_addresses.entries[0], col=True) }}
    <div class="col-sm-8">
      {{ forms.widget(form.mailto_addresses.entries[0]) }}
      {{ forms.errors(form.mailto_addresses.entries[0]) }}
      {{ forms.description(form.mailto_addresses.entries[0]) }}
    </div>
    <!--
    <div class="col-sm-1">
      <button class="btn btn-primary" type="button" id="add-mailto-address">+</button>
    </div>
    -->
  </div>

  <div class="mb-3 pb-3 row border-bottom">
    {{ forms.label(form.manual_vote, col=True) }}
    <div class="col-sm-8">
      <div class="form-check">
        {{ forms.widget(form.manual_vote, classes="form-check-input") }}
        {{ forms.errors(form.manual_vote, classes="invalid-feedback d-block") }}
        <label class="form-check-label" for="{{ form.manual_vote.id }}">Manual</label>
      </div>
      {{ forms.description(form.manual_vote) }}
    </div>
  </div>

  <div class="mb-3 pb-3 row border-bottom">
    {{ forms.label(form.min_hours, col=True) }}
    <div class="col-sm-8">
      {{ forms.widget(form.min_hours) }}
      {{ forms.errors(form.min_hours) }}
      {{ forms.description(form.min_hours) }}
    </div>
  </div>

  <div class="mb-3 pb-3 row border-bottom">
    {{ forms.label(form.release_checklist, col=True) }}
    <div class="col-sm-8">
      {{ forms.widget(form.release_checklist) }}
      {{ forms.errors(form.release_checklist) }}
      {{ forms.description(form.release_checklist) }}
    </div>
  </div>

  <div class="mb-3 pb-3 row border-bottom">
    {{ forms.label(form.start_vote_template, col=True) }}
    <div class="col-sm-8">
      {{ forms.widget(form.start_vote_template) }}
      {{ forms.errors(form.start_vote_template) }}
      {{ forms.description(form.start_vote_template) }}
    </div>
  </div>

  <div class="mb-3 pb-3 row border-bottom">
    {{ forms.label(form.announce_release_template, col=True) }}
    <div class="col-sm-8">
      {{ forms.widget(form.announce_release_template) }}
      {{ forms.errors(form.announce_release_template) }}
      {{ forms.description(form.announce_release_template) }}
    </div>
  </div>

  <div class="mb-3 pb-3 row border-bottom">
    {{ forms.label(form.pause_for_rm, col=True) }}
    <div class="col-sm-8">
      <div class="form-check">
        {{ forms.widget(form.pause_for_rm, classes="form-check-input") }}
        {{ forms.errors(form.pause_for_rm, classes="invalid-feedback d-block") }}
        <label class="form-check-label" for="{{ form.pause_for_rm.id }}">Enabled</label>
      </div>
      {{ forms.description(form.pause_for_rm) }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 offset-sm-3">{{ form.submit(class_="btn btn-primary mt-2") }}</div>
  </div>
</form>
