{% extends "layouts/base.html" %}

{% block title %}
  Start a new release for {{ project.display_name }} ~ ATR
{% endblock title %}

{% block content %}
  <h1>Start a new release</h1>
  <p>
    Starting a new release creates a <strong>release candidate draft</strong>. You can then add files to this draft before promoting it for voting.
  </p>

  {{ forms.errors_summary(form) }}

  <form method="post"
        action="{{ as_url(post.start.selected, project_name=project.name) }}"
        enctype="multipart/form-data"
        class="atr-canary py-4 px-5 border rounded"
        novalidate>
    {{ form.hidden_tag() }}

    <div class="mb-4">
      <p class="fs-5">
        <label class="form-label fs-5">Project:</label>
        <span class="fw-semibold">{{ project.display_name }}</span>
      </p>
    </div>

    <div class="mb-3">
      {{ forms.label(form.version_name) }}
      {{ forms.widget(form.version_name, classes="form-control form-control-lg", id=form.version_name.id) }}
      {{ forms.errors(form.version_name) }}
      {{ forms.description(form.version_name) }}
    </div>

    <div class="mt-4">
      {{ form.submit(class_="btn btn-primary btn-lg") }}
      <a href="{{ as_url(get.root.index) }}" class="btn btn-link ms-2">Cancel</a>
    </div>
  </form>

  {% if releases %}
    {% set max_revisions = 18 %}
    <div class="mt-5">
      <h2>Existing releases</h2>
      <div class="row">
        <div class="col-12">
          <ul class="list-unstyled row g-3">
            {% for release in releases[:max_revisions] %}
              <li class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="text-nowrap">
                  {% if release.phase.value == "release_candidate_draft" %}
                    <span class="atr-phase-one atr-phase-symbol fs-6">{{ "①" }}</span>
                  {% elif release.phase.value == "release_candidate" %}
                    <span class="atr-phase-two atr-phase-symbol fs-6">{{ "②" }}</span>
                  {% elif release.phase.value == "release_preview" %}
                    <span class="atr-phase-three atr-phase-symbol fs-6">{{ "③" }}</span>
                  {% elif release.phase.value == "release" %}
                    <span class="atr-phase-symbol fs-6">{{ "Ⓡ" }}</span>
                  {% endif %}
                  {{ release.version }}
                </div>
              </li>
            {% endfor %}
            {% if releases|length > max_revisions %}
              <li class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="text-center">
                  <strong>...</strong>
                  <span class="text-muted ms-1">{{ releases|length - max_revisions }} more</span>
                </div>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}
