{% extends "layouts/base.html" %}

{% block title %}
  Apache Trusted Release
{% endblock title %}

{% block content %}
  <h1>Quick tutorial</h1>
  <p>
    ATR is a release management platform for <a href="https://www.apache.org">Apache Software
    Foundation</a> projects. It provides a standardized workflow for PMC members to submit,
    verify, and track release candidates.
  </p>

  <p>
    This is a preview of an early version of ATR, and we would like testers to try it out and give us feedback. This section provides a quick tutorial for using ATR. The basic workflow on ATR is Release Candidate Draft -> Release Candidate -> Release Preview -> Release. Note that, as the header says on every page, this is a preview and you cannot yet create actual releases with ATR.
  </p>

  <h2>Release candidate draft</h2>

  <p>
    We recommend that you start by <a href="{{ as_url(routes.keys.ssh_add) }}">uploading your SSH key</a>. This gives you rsync access which makes it easier to upload your files. We plan to obtain your SSH key from your ASF account via LDAP in the long run.
  </p>

  <p>
    Once you've uploaded your SSH key, you may be able to >add a release candidate draft. Only Project Management Committee (PMC) members can do this. Once a draft has been created, all PMC members and committers can add files to the draft or delete files from it.
  </p>

  <p>
    When you add files, ATR automatically runs some checks on the files. You'll be able to browse the results of those checks. Note that our checks are currently very basic, and we'll be adding more checks as we get feedback from testers.
  </p>

  <p>When you're happy with the files in the draft, you can start a vote on it.</p>

  <h2>Release candidate</h2>

  <p>
    When you've promoted the draft to a release candidate, you can use ATR to start a vote on the release candidate. Currently we allow any PMC member to start the vote, but in the future we may limit this to designated release managers. The ATR is designed to send the vote email itself, but we understand that projects send very detailed vote announcement emails. We plan to make it easier for you to send such announcement emails. We also plan to allow users to send the vote email themselves and record the fact on the ATR manually.
  </p>

  <p>
    The vote email is not actually sent out, because ATR cannot yet be used to create releases. We are only testing the workflow.
  </p>

  <p>
    When you're happy with the release candidate, you can record the vote resolution to promote the release candidate to a release preview.
  </p>

  <h2>Release preview</h2>

  <p>
    When you've promoted the release candidate to a release preview, you can review the files. We plan to make it possible to adjust the release preview before it's promoted to a release.
  </p>

  <p>
    When you're happy with the release preview, you can announce the release preview. This, again, should be an action limited to designated release managers.
  </p>

  <h2>Release</h2>

  <p>
    When you've promoted the release preview to a release, you can <a href="{{ as_url(routes.release.releases) }}">browse the release</a>.
  </p>

  <h2>Key features</h2>
  <ul>
    <li>Support for rsync or HTML form based file uploads</li>
    <li>Automatic checks of release artifacts</li>
    <li>Templated email vote announcements</li>
  </ul>
{% endblock content %}
