{% extends "layouts/base.html" %}

{% block title %}
  Create a voting policy ~ ATR
{% endblock title %}

{% block description %}
  Create a voting policy for a project.
{% endblock description %}

{% block content %}
  <p>
    <a href="{{ as_url(routes.projects.view, name=project.name) }}"
       class="atr-back-link">← Back to {{ project.display_name }}</a>
  </p>
  <h1>Create voting policy</h1>
  <p>
    Use this form to create a voting policy for <strong>{{ project.display_name }}</strong>.
  </p>

  {% include "vote-policy-form.html" %}

{% endblock content %}
