{% extends "layouts/base.html" %}

{% block title %}
  Tabulated votes ~ ATR
{% endblock title %}

{% block description %}
  Tabulated votes for a release.
{% endblock description %}

{% block content %}
  <p>
    <a href="{{ as_url(routes.vote.selected, project_name=release.project.name, version_name=release.version) }}"
       class="atr-back-link">← Back to vote</a>
  </p>

  <h1>Tabulated votes</h1>

  <p>
    This page attempts to automatically tabulate votes from the vote email thread for you. It is not always possible to parse the votes accurately, so you should check the results carefully. <strong>Do not use this page to decide how to resolve the vote without manual review.</strong>
  </p>

  {% if tabulated_votes %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ASF UID or email</th>
          <th class="text-center">Vote</th>
          <th class="text-center">Status</th>
          <th class="text-center">Link</th>
          <th>Quotation</th>
        </tr>
      </thead>
      <tbody>
        {% for asf_uid, vote_email in tabulated_votes.items() %}
          <tr>
            <td class="atr-nowrap">{{ vote_email.asf_uid_or_email }}</td>
            <td class="atr-nowrap text-center {% if vote_email.status.value == 'Binding' %}fw-bold{% endif %} {% if vote_email.vote.value == 'Yes' %}atr-green{% elif vote_email.vote.value == 'No' %}atr-red{% endif %}">
              {{ vote_email.vote.value }}
            </td>
            <td class="atr-nowrap text-center {% if vote_email.status.value == 'Binding' %}fw-bold{% endif %}">
              {{ vote_email.status.value }}
            </td>
            <td class="atr-nowrap text-center">
              <a href="https://lists.apache.org/thread/{{ vote_email.asf_eid }}"
                 target="_blank">Email</a>
            </td>
            <td>{{ vote_email.quotation }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if summary %}
      <h2>Vote summary</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Vote type</th>
            <th>Yes</th>
            <th>No</th>
            <th>Abstain</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Binding votes</td>
            <td>{{ summary.binding_votes_yes }}</td>
            <td>{{ summary.binding_votes_no }}</td>
            <td>{{ summary.binding_votes_abstain }}</td>
            <td>{{ summary.binding_votes }}</td>
          </tr>
          <tr>
            <td>Non-binding votes</td>
            <td>{{ summary.non_binding_votes_yes }}</td>
            <td>{{ summary.non_binding_votes_no }}</td>
            <td>{{ summary.non_binding_votes_abstain }}</td>
            <td>{{ summary.non_binding_votes }}</td>
          </tr>
          <tr>
            <td>Unknown votes</td>
            <td>{{ summary.unknown_votes_yes }}</td>
            <td>{{ summary.unknown_votes_no }}</td>
            <td>{{ summary.unknown_votes_abstain }}</td>
            <td>{{ summary.unknown_votes }}</td>
          </tr>
        </tbody>
      </table>
    {% endif %}
    <h2>Vote outcome</h2>
    <p>
      {% if outcome %}
        {{ outcome }}
      {% else %}
        No outcome yet.
      {% endif %}
    </p>
    <h2>Resolve vote</h2>
    <p>
      If, after careful manual review of the information above, you concur with the automatically determined outcome of the vote, please enter the resolution email body here. Sending this will send the email to a new vote result thread, and the vote will be resolved.
    </p>
    <form class="atr-canary py-3 px-4 mb-4 border rounded"
          action="{{ as_url(routes.resolve.selected_report, project_name=release.project.name, version_name=release.version) }}"
          method="post">
      {{ forms.errors_summary(resolve_form) }}
      {{ resolve_form.hidden_tag() }}
      <div class="form-group">
        {{ forms.label(resolve_form.email_body) }}
        {{ forms.widget(resolve_form.email_body, rows=24) }}
        {{ forms.errors(resolve_form.email_body, classes="invalid-feedback d-block") }}
      </div>
      {{ resolve_form.submit(class="btn btn-primary mt-2") }}
    </form>
  {% else %}
    <p>No votes tabulated yet.</p>
  {% endif %}
{% endblock content %}
