{% extends "layouts/base.html" %}

{% block title %}
  Edit a voting policy ~ ATR
{% endblock title %}

{% block description %}
  Add a package to an existing release.
{% endblock description %}

{% block stylesheets %}
  {{ super() }}
  <style>
      .form-table {
          width: 100%;
      }

      .form-table th {
          width: 200px;
          text-align: right;
          padding-right: 1rem;
          vertical-align: top;
          font-weight: 500;
      }

      .form-table td {
          vertical-align: top;
      }

      .form-table label {
          border-bottom: none;
          padding-bottom: 0;
      }

      select,
      input[type="file"] {
          display: block;
          margin-bottom: 0.5rem;
      }

      .help-text {
          color: #666;
          font-size: 0.9em;
          display: block;
          margin-top: 0.25rem;
      }

      .error-message {
          color: #dc3545;
          margin-top: 0.25rem;
      }

      button {
          margin-top: 1rem;
      }

      button:disabled {
          opacity: 0.5;
          cursor: not-allowed;
      }

      .radio-group {
          margin-bottom: 0.5rem;
      }

      .radio-group div {
          margin: 0.5rem 0;
      }

      .radio-group label {
          margin-left: 0.5rem;
          cursor: pointer;
      }

      .radio-group input[type="radio"] {
          cursor: pointer;
      }

      .checkbox-group {
          margin-bottom: 0.5rem;
      }

      .checkbox-group div {
          margin: 0.5rem 0;
      }

      .checkbox-group label {
          margin-left: 0.5rem;
          cursor: pointer;
      }

      .checkbox-group input[type="checkbox"] {
          cursor: pointer;
      }

      .form-separator {
          margin: 2rem 0;
          border-top: 1px solid #ddd;
          text-align: center;
          position: relative;
      }

      .form-separator span {
          background: #fff;
          padding: 0 1rem;
          color: #666;
          position: relative;
          top: -0.75rem;
      }

      input[type="url"],
      input[type="number"] {
          width: 100%;
          max-width: 600px;
          padding: 0.375rem;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
      }

      input[type="number"] {
          width: 100px;
      }
  </style>
{% endblock stylesheets %}

{% block content %}
  <h1>Add vote policy</h1>
  <p class="intro">
    Welcome, <strong>{{ asf_id }}</strong>!
  </p>

  <form method="post" enctype="multipart/form-data" class="striking">
    <input type="hidden" name="form_type" value="single" />
    <table class="form-table">
      <tbody>
        <tr>
          <th>
            <label for="project_name">Project:</label>
          </th>
          <td>
            <input type="hidden"
                   id="project_name"
                   name="project_name"
                   readonly value="{{ project.display_name }}"/>
            <p id="project_name_text">{{ project.display_name }}</p>
          </td>
        </tr>

        <tr>
          <th>
            <label for="mailto_addresses">Vote Email Addresses:</label>
          </th>
          <td>
            <div class="checkbox-group">
              <div>
                <input type="email"
                       id="mailto_addresses"
                       name="mailto_addresses"
                       pattern=".+@apache\.org" size="30" required />
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <th>
            <label for="manual_vote">Voting Process:</label>
          </th>
          <td>
            <div class="checkbox-group">
              <div>
                <input type="checkbox"
                       id="manual_vote"
                       name="manual_vote" />
                <label for="manual_vote">Manual Voting</label>
                <span id="manual_vote-help" class="help-text">If this is set then the vote will be completely manual and following policy is ignored.</span>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <th>
            <label for="min_hours">Minimum Voting Period:</label>
          </th>
          <td>
            <input type="number"
                   id="min_hours"
                   name="min_hours"
                   value="72"
                   min="0"
                   max="144"
                   required
                   aria-describedby="min_hours-help" />
            <span id="min_hours-help" class="help-text">The minimum time to run the vote. If set to 0 then wait until 3 +1 votes and more +1 than -1.</span>
          </td>
        </tr>

        <tr>
          <th>
            <label for="release_checklist">Release checklist:</label>
          </th>
          <td>
            <textarea type="text" style="resize: vertical;" id="release_checklist" name="release_checklist" rows="10"></textarea>
            <span id="release_checklist-help" class="help-text">Markdown text describing how to test release candidates.</span>
          </td>
        </tr>

        <tr>
          <th>
            <label for="pause_for_rm">Pause for RM:</label>
          </th>
          <td>
            <div class="checkbox-group">
              <div>
                <input type="checkbox"
                       id="pause_for_rm"
                       name="pause_for_rm"
                       checked />
                <label for="pause_for_rm">Enabled</label>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            <button type="submit">Save</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
{% endblock content %}
