<aside class="sidebar">
  <div class="sidebar-header">
    <a href="{{ as_url(routes.root.index) }}" class="site-title">
      <h1>
        <span class="apache">A<span class="rest">pache</span></span>
        <br />
        <span class="trusted">T<span class="rest">rusted</span></span>
        <br />
        <span class="release">R<span class="rest">elease</span></span>
      </h1>
    </a>
  </div>
  <div class="user-section">
    {% if current_user %}
      <div class="user-info">
        <span>{{ current_user.fullname }}</span>
        (<code>{{ current_user.uid }}</code>)
      </div>
      <a href="#"
         onclick="location.href='/auth?logout=/';"
         class="logout-link"><i class="fa-solid fa-right-from-bracket"></i></a>
    {% else %}

      <a href="#"
         onclick="location.href='/auth?login=' + window.location.pathname;"
         class="login-link">Login&nbsp;<i class="fa-solid fa-right-to-bracket"></i></a>
    {% endif %}
  </div>
  <nav>
    <h3>Home</h3>
    <ul>
      <li>
        <i class="fa-solid fa-house"></i>
        <a href="{{ as_url(routes.root.index) }}"
           {% if request.endpoint == 'root' %}class="active"{% endif %}>About</a>
      </li>
    </ul>

    {% if current_user %}
      <h3>Release candidate drafts</h3>
      <ul>
        <li>
          <a href="{{ as_url(routes.draft.directory) }}">Review drafts</a>
        </li>
        <li>
          <a href="{{ as_url(routes.draft.add) }}">Add draft</a>
        </li>
        <!-- TODO: Don't show this if the user doesn't have any release candidates? -->
        <li>
          <a href="{{ as_url(routes.draft.promote) }}">Promote draft</a>
        </li>
      </ul>

      <h3>Release candidates</h3>
      <ul>
        <li>
          <a href="{{ as_url(routes.candidate.vote) }}">Start vote</a>
        </li>
        <li>
          <a href="{{ as_url(routes.candidate.resolve) }}">Resolve vote</a>
        </li>
      </ul>

      <h3>Release previews</h3>
      <ul>
        <li>
          <a href="{{ as_url(routes.preview.review) }}">Review previews</a>
        </li>
        <li>
          <a href="{{ as_url(routes.preview.promote) }}">Promote preview</a>
        </li>
      </ul>

      <h3>Releases</h3>
      <ul>
        <li>
          <a href="{{ as_url(routes.release.review) }}">Review releases</a>
        </li>
      </ul>

      <h3>User management</h3>
      <ul>
        <li>
          <i class="fa-solid fa-key"></i>
          <a href="{{ as_url(routes.keys.review) }}">Your signing keys</a>
        </li>
        <li>
          <a href="{{ as_url(routes.keys.add) }}">Add your signing key</a>
        </li>
        <li>
          <a href="{{ as_url(routes.keys.upload) }}">Upload a KEYS file</a>
        </li>
        <li>
          <a href="{{ as_url(routes.keys.ssh_add) }}">Add SSH key</a>
        </li>
      </ul>

      <h3>Organisation</h3>
      <ul>
        <li>
          <i class="fa-solid fa-diagram-project"></i>
          <a href="{{ as_url(routes.committees.directory) }}">Committees</a>
        </li>
        <li>
          <i class="fa-solid fa-diagram-project"></i>
          <a href="{{ as_url(routes.projects.directory) }}">Projects</a>
        </li>
      </ul>

      {% if is_admin_fn(current_user.uid) %}
        <h3>Administration</h3>
        <ul>
          <li>
            <i class="fa-solid fa-database"></i>
            <a href="{{ url_for('admin.admin_data') }}"
               {% if request.endpoint == 'admin.admin_data' %}class="active"{% endif %}>Browse database</a>
          </li>
          <li>
            <i class="fa-solid fa-rotate"></i>
            <a href="{{ url_for('admin.admin_projects_update') }}"
               {% if request.endpoint == 'admin.admin_projects_update' %}class="active"{% endif %}>Update projects</a>
          </li>
          <li>
            <i class="fa-solid fa-list-check"></i>
            <a href="{{ url_for('admin.admin_tasks') }}"
               {% if request.endpoint == 'admin.admin_tasks' %}class="active"{% endif %}>Background Tasks</a>
          </li>
          <li>
            <i class="fa-solid fa-weight-scale"></i>
            <a href="{{ url_for('admin.admin_performance') }}"
               {% if request.endpoint == 'admin.admin_performance' %}class="active"{% endif %}>Performance dashboard</a>
          </li>
          <li>
            <i class="fa-solid fa-trash"></i>
            <a href="{{ url_for('admin.admin_delete_release') }}"
               {% if request.endpoint == 'admin.admin_delete_release' %}class="active"{% endif %}>Delete release</a>
          </li>
        </ul>
      {% endif %}
    {% endif %}
  </nav>
</aside>
