{% macro label(field, classes=None, col=False, high=False, mcol=False) %}
  {% if field.label %}
    {% set base_structural_classes = "" %}
    {% if col %}
      {% set base_structural_classes = "col-sm-3 col-form-label text-sm-end" %}
    {% elif high %}
      {% set base_structural_classes = "col-sm-3 text-sm-end" %}
    {% elif mcol %}
      {% set base_structural_classes = "col-md-2 text-md-end" %}
    {% endif %}
    {% set final_class_list = [] %}
    {% if base_structural_classes %}
      {% set _ = final_class_list.append(base_structural_classes) %}
    {% endif %}
    {% if classes %}
      {% set _ = final_class_list.append(classes) %}
    {% endif %}
    {% if not final_class_list %}
      {% set _ = final_class_list.append("form-label") %}
    {% endif %}
    {% set final_classes_str = final_class_list | join(' ') | trim %}
    {% if final_classes_str %}
      {{ field.label(class=final_classes_str) }}
    {% else %}
      {{ field.label() }}
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro widget(field, classes="form-control", placeholder=None, rows=None, autocomplete=None, id=None) %}
  {% set widget_class = classes %}
  {% if field.errors %}
    {% set widget_class = widget_class + ' is-invalid' %}
  {% endif %}

  {% set render_args = {'class_': widget_class} %}
  {% if placeholder is not none %}
    {% set _ = render_args.update({'placeholder': placeholder}) %}
  {% endif %}
  {% if rows is not none %}
    {% set _ = render_args.update({'rows': rows}) %}
  {% endif %}
  {% if autocomplete is not none %}
    {% set _ = render_args.update({'autocomplete': autocomplete}) %}
  {% endif %}
  {% if id is not none %}
    {% set _ = render_args.update({'id': id}) %}
  {% endif %}

  {{ field(**render_args) }}
{% endmacro %}

{% macro errors(field, classes="invalid-feedback", item_separator="<br />") %}
{% if field.errors %}
  <div class="{{ classes }}">
    {% for error in field.errors %}
      {{ error }}
      {% if not loop.last %}{{ item_separator|safe }}{% endif %}
    {% endfor %}
  </div>
{% endif %}
{% endmacro %}

{% macro description(field, classes="form-text text-muted") %}
  {% if field.description %}<div id="{{ field.id }}-help" class="{{ classes }}">{{ field.description }}</div>{% endif %}
{% endmacro %}
