{% macro label(field, classes="form-label", col=False, high=False) %}
  {% if field.label %}
    {% set final_classes = classes %}
    {% if col or high %}
      {% set base_col_classes = "col-sm-3 text-sm-end" %}
      {% if col and not high %}
        {% set base_col_classes = "col-sm-3 col-form-label text-sm-end" %}
      {% endif %}
      {% if final_classes and final_classes != "" and final_classes != "form-label" %}
        {% set final_classes = base_col_classes + " " + final_classes %}
      {% elif final_classes == "form-label" and base_col_classes != "" %}
        {% set final_classes = base_col_classes %}
      {% else %}
        {% set final_classes = base_col_classes %}
      {% endif %}
    {% endif %}
    {{ field.label(class=final_classes) }}
  {% endif %}
{% endmacro %}

{% macro widget(field, classes="form-control", placeholder=None, rows=None, autocomplete=None, id=None) %}
  {% set widget_class = classes %}
  {% if field.errors %}
    {% set widget_class = widget_class + ' is-invalid' %}
  {% endif %}

  {% set render_args = {'class_': widget_class} %}
  {% if placeholder is not none %}
    {% set _ = render_args.update({'placeholder': placeholder}) %}
  {% endif %}
  {% if rows is not none %}
    {% set _ = render_args.update({'rows': rows}) %}
  {% endif %}
  {% if autocomplete is not none %}
    {% set _ = render_args.update({'autocomplete': autocomplete}) %}
  {% endif %}
  {% if id is not none %}
    {% set _ = render_args.update({'id': id}) %}
  {% endif %}

  {{ field(**render_args) }}
{% endmacro %}

{% macro errors(field, classes="invalid-feedback", item_separator="<br />") %}
{% if field.errors %}
  <div class="{{ classes }}">
    {% for error in field.errors %}
      {{ error }}
      {% if not loop.last %}{{ item_separator|safe }}{% endif %}
    {% endfor %}
  </div>
{% endif %}
{% endmacro %}

{% macro description(field, classes="form-text text-muted") %}
  {% if field.description %}<div id="{{ field.id }}-help" class="{{ classes }}">{{ field.description }}</div>{% endif %}
{% endmacro %}
